.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .active {
    background-color: #4CAF50;
    color: white;
}
.onlymobile {
    display: none;
}
.topnav .onlymobile {
    display: none;
}

@media screen and (max-width: 40em) {
    .topnav a {
        display: none;
    }
    a.icon {
        font-size: 1.5em;
        font-weight: bold;
        display: inline;
    }
    a.active {
        font-size: 1.5em;
        font-weight: bold;
        display: inline;
    }
    .topnav.vertical a {
        float: none;
        display: block;
        text-align: left;
    }
    .nomobile {
        display: none;
    }
    .onlymobile {
        display: block;
    }
    .topnav .onlymobile {
        display: block;
    }
}

.recipe h3 {
    opacity: 0.6;
}
.recipe-yield {
    opacity: 0.6;
}

.arrow img {
    width: 0.8em;
    height: 1em;
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: -0.1em;
}
.arrow.upward img {
    transform: rotate(180deg);
}
